<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SEforum</display-name>



	<servlet>
		<description>
		</description>
		<display-name>AddForum</display-name>
		<servlet-name>AddForum</servlet-name>
		<servlet-class>forum.AddForum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddForum</servlet-name>
		<url-pattern>/servlet/forum.AddForum</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>
		</description>
		<display-name>AddReply</display-name>
		<servlet-name>AddReply</servlet-name>
		<servlet-class>forum.AddReply</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddReply</servlet-name>
		<url-pattern>/servlet/forum.AddReply</url-pattern>
	</servlet-mapping>



	<servlet>
		<description>
		</description>
		<display-name>AddThread</display-name>
		<servlet-name>AddThread</servlet-name>
		<servlet-class>forum.AddThread</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddThread</servlet-name>
		<url-pattern>/servlet/forum.AddThread</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>AddUser</display-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>forum.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/servlet/forum.AddUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ChangeMessage</display-name>
		<servlet-name>ChangeMessage</servlet-name>
		<servlet-class>forum.ChangeMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeMessage</servlet-name>
		<url-pattern>/servlet/forum.ChangeMessage</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>
		</description>
		<display-name>ChangeProfile</display-name>
		<servlet-name>ChangeProfile</servlet-name>
		<servlet-class>forum.ChangeProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeProfile</servlet-name>
		<url-pattern>/servlet/forum.ChangeProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DeleteForum</display-name>
		<servlet-name>DeleteForum</servlet-name>
		<servlet-class>forum.DeleteForum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteForum</servlet-name>
		<url-pattern>/servlet/forum.DeleteForum</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DeleteReply</display-name>
		<servlet-name>DeleteReply</servlet-name>
		<servlet-class>forum.DeleteReply</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReply</servlet-name>
		<url-pattern>/servlet/forum.DeleteReply</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DeleteThread</display-name>
		<servlet-name>DeleteThread</servlet-name>
		<servlet-class>forum.DeleteThread</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteThread</servlet-name>
		<url-pattern>/servlet/forum.DeleteThread</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>forum.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet/forum.Login</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>forum.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/servlet/forum.Logout</url-pattern>
	</servlet-mapping>




	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
